.cont-opc{
    background: white;
    width: 90%;
    display: block;
    margin: 0px auto;
}
#cont-cont-panel-opc{
    padding: 5px;
}

#cont-panel-opc{
    
    width: 100%;
    background: white;
    min-height: 100px;
    max-height: 250px;
    background: $bgColorContList;
    height: auto;
    overflow: auto;
    padding: 10px;
}

#cont-btn-crear-horario{
    text-align: center;
}
#btn-crear-horario{
    background: $btn-color;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}
.option{
    border: 1px solid white;
    padding: 2px;
    margin: 2px;
    //background: yellow;
}
.option:hover{
    background: $btn-color;
}


#grid-cont-panel{
    grid-column: 1/7;
}