$bgColor : #333;
$bgColorContList : #202020;
$bgColorList: #2f4f4f;
$font-body2: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font-body: Arial, Helvetica, sans-serif;
$btn-color:#800000;


*{

    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body{
    background: $bgColor;
    font-family: $font-body2;
    color: white;
}

@import '_cont_sup.scss';
@import '_cont_inf.scss';