.nav-bar {
	
	background: #04072b;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	color: white;
	padding: 14px 0px 14px 0px;
}

.nav-bar h1{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}