@media (min-width: 576px) {
  .info-option {
    margin: 3px 0px 3px 0px;
  }
  .panel-opciones {
  	margin: 3px 0px 3px 0px;
  }
  .panel-opciones > a{
  
  width: 30%; 
}
 
 .horario-header {
 	margin: 3px 0px 3px 0px;
 }
 #grid-horario {
 	margin: 3px 0px 3px 0px;
 }
}